@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: scroll;
    background-color: lavender;
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/298/806/non_2x/seamless-pattern-of-cute-cartoon-cat-illustration-design-on-purple-background-free-vector.jpg");
}

img {
    width: 250px;
    height: 300px;
}

.card {
    float: left;
    width: 275px;
    height: 325px;
    padding: 10px 10px 10px 10px;
    margin: 7px;
    background-color: lavenderblush;
    align-items: center;
    display: inline-grid;
    border-radius: 10px;
    box-shadow: 7px 5px 5px gray;
}

.sort-kitten-form {
    background-color: lavenderblush;
    margin: 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px gray;
    outline: 2px solid rgb(141, 112, 187);
    text-align: center;
}

.like-btn {
    border-radius: 7px;
    box-shadow: 5px 3px 3px gray;
    background-color: rgb(222, 222, 222, 1.0);
}

#favorites {
    background-color: lavenderblush;
    margin: 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px gray;
    outline: 2px solid rgb(141, 112, 187);
    text-align: center;
}

p {
    background-color: lavenderblush;
    margin: 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px gray;
    outline: 2px solid rgb(141, 112, 187);
    text-align: center;
}

#kittens {
    background-color: lavenderblush;
    margin: 7px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px gray;
    outline: 2px solid rgb(141, 112, 187);
    text-align: center;
}